{% extends 'base.html' %}

{% block content %}
  <h3>[WIP] Добавление заметки</h3><br/>

  <div class="card">
    <h5 class="card-header">Создание заметки</h5>
    <div class="card-body">
        <form method="POST">
          {{ form.hidden_tag() }}

          <div class="mb-3">
            <label for="title" class="form-label">Название</label>
            {{ form.title(class="form-control") }}
          </div>

          <div class="mb-3">
            <label for="text" class="form-label">Текст заметки [TODO: markdown]</label>
            {{ form.text(class="form-control") }}
          </div>

          {{ form.submit(class='btn btn-success') }}
        </form>
    </div>
  </div>
{% endblock %}
