{% extends 'base.html' %}

{% block content %}
  <h3>[WIP] Мои заметки</h3>
  <br/>
  <a class="btn btn-sm btn-success" href="{{ url_for('add_note') }}">Добавить заметку</a>
  <br/><br/>

  {% for note in notes %}
    <div class="card mb-2">
      <a class="card-header" href="{{ url_for('note_page', note_local_id=note.local_id) }}">
        {{ note.title }}
      </a>
      <div class="card-body">
        <p class="card-text">{{ note.text }}</p>
        <p class="card-text text-muted">
          Note id: {{ note.id }} | User id: {{ note.user_id }} | Local id: {{ note.local_id }} | Added: {{ note.dt_added }} | Edited: {{ note.dt_edited }}
        </p>
      </div>
    </div>
  {% endfor %}
{% endblock %}
