{% extends 'base.html' %}

{% block content %}
  <div class="card">
    <h5 class="card-header">Регистрация</h5>
    <div class="card-body">
        <form class="needs-validation" novalidate method="POST">
          {{ form.hidden_tag() }}

          <div class="mb-3">
            <label for="email" class="form-label">Электронная почта</label>
            {{ form.email(class="form-control", type="email") }}
            <div class="invalid-feedback">
              Введите электронную почту
            </div>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Пароль</label>
            {{ form.password(type="password", class="form-control") }}
            <div class="invalid-feedback">
              Введите пароль
            </div>
          </div>

          {{ form.submit(class='btn btn-success') }}
        </form>
    </div>
  </div>
{% endblock %}
