{% extends 'base.html' %}

{% block content %}
  <h3>Теги</h3>

  {% if tags %}
    <table class="table">
      <thead>
        <th scope="col">Тег</th>
        <th scope="col">Число заметок</th>
      </thead>
      <tbody>
        {% for tag, count in tags %}
          <tr>
            <td><a class="text-decoration-none" href="{{ url_for('notes_page', t=tag.id) }}">{{ tag.tag_str }}</a></td>
            <td>{{ count }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h4 class="text-center mt-4">Теги не найдены</h4>
  {% endif %}
{% endblock %}
